
@{
    ViewBag.Calc = 20 / 5;
}
@model BooksViewModel
<h1>@ViewBag.Calc</h1>
<h1>The Amazon Project</h1>
@foreach (Books b in Model.Books)
{
    <h3>@b.Title</h3>
    <ul>
        <li>Author: @b.Author</li>
        <li>Publisher: @b.Publisher</li>
        <li>Isbn: @b.Isbn</li>
        <li>Classification: @b.Classification</li>
        <li>Category: @b.Category</li>
        <li>PageCount: @b.PageCount</li>
        <li>Price: @b.Price</li>
    </ul>
}
<div Page-Blah = "@Model.PageInfo" page-action="Index"></div>
